mixin example(data)
    h1
        | Hello, World!
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae perspiciatis molestias esse voluptas, ipsum nihil deserunt, iure temporibus et ut sunt non beatae eligendi alias fuga id, in, quas aperiam.
