.cta {
    background: rgba(255,255,255,.8);
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,.1);
    @media screen and (max-width:1024px) {
        width: 400px;
    }
    @media screen and (max-width:480px) {
        width: 100%;
        margin: 0;
    }
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    label,
    input,
    button {
        margin: .625rem 0 .25rem;
        padding: .25rem;
    }
    input {
        margin-top: .125rem;
    }
    button {
        padding: .5rem;
    }
}
